{% extends 'template/temp.twig' %}

{% block title 'Listado de Datos' %}

{% block body %}
        <div class="clearfix"></div>

        <div class="table table-sm table-responsive" style="margin-top: 20px">
            {% block tabla %}

            {% endblock %}
        </div>

    </div>
{% endblock %}
