html,body{
    height: 100%;
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #16BFFD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: url('../img/fondo.jpg')  no-repeat center;  
  background-size:cover;
}

.login{
  width: 30%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 15px #000;
  background-color: #fff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


@media screen and (max-width: 600px) and (min-width: 200px) {
  .login{
    width: 75%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
    background-color: #fff;
  }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  .login{
    width: 60%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
    background-color: #fff;
  }
}
